*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: #fff;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/i1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}
.row{
    max-width: 1180px;
    margin: 0 auto;
}
.logo{
    height: 120px;
    width: auto;
    float: left;
    border-radius: 250px;
    margin-top: 20px;
}
.index-nav{
    float: right;
    margin-top: 60px;
}
.index-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}
.index-nav li a{
    padding: 5px 0px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.index-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}
.main-content-header{
    max-width: 1180px;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
}
h1{
    color: #fff;
    font-size: 35px;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 200px;
    text-transform: uppercase;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-login{
    background-color: transparent;
    color: #bf55ec;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}

.btn-login:hover{
    background-color: #fff;
}
.btn-signup{
    background-color: transparent;
    color: #fff;
    margin-right: 15px;
    border: 1px solid #bf55ec;
}
.btn-signup:hover{
    background-color: #bf55ec;
}
.colorchange{
    animation: colorchangeireporter 1s infinite;
}
@keyframes  colorchangeireporter {
    0%{color: #bf55ec;}
    25%{color: royalblue;}
    50%{color: white;}
    100%{color: red;}
}

/*  signup   */

.top-logo img{
    margin-top: 10px;
    margin-left: 5px;
    position: fixed;
    float: left;
    width: 150px;
    height: auto;
    border-radius: 300px;
}
.menu{
    float: right;
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    text-align: center;

}

nav ul li{
    margin-top: 5px;
    padding: 20px;
    display: inline-block;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover{
    color: #bf55ec;
    text-decoration: none;
    transition: all 0.3s ease-in;
}
.login-page{
    width: 380px;
    padding: 5% 0 0; 
    margin: auto;
}
.form{
    position: relative;
    background-color: rgba(72, 79, 86, 0.6);
    /* margin: 0 auto 100px; */
    padding: 40px;
    text-align: center;
}
.form input{
    outline: darkgrey;
    background: #e0e0e0;
    width: 100%;
    margin: 0 0 5px; 
    border: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
}
.form .indication{
    margin: 15px 0 0;
    color: whitesmoke;
    font-size: 15px;
}
.form .indication a{
    text-decoration: none;
    margin: 15px 0 0;
    color: darkorange;
    font-size: 18px;
}
.form .register-form img{
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
    height: 100;
}
.form .login-form img{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    height: 120px;

}


/*  create redflag */
.text{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
.textarea{
    outline: darkgrey;
    background: #e0e0e0;
    width: 100%;
    margin: 0 0 5px; 
    border: 0px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
} 
.form .geo{
    width: 100%;
}
.form .lat{
    color: #bf55ec;
    width: 48%;
}
.form .log{
    color: #bf55ec;
    width: 48%;
}
.option{
    padding: 3px;
    border-radius: 5px;
    font-size: 13px; 

}



